node_modules/
dist/
out/
release/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.asar
*.user
*.lock-wscript
.cache/
electron-packager/
electron-builder-cache/
electron-builder.yml.*.tmp
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.tmp
*.bak
