html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #111;
    color: #fff;
    user-select: none;
}

* { transition: all 0.2s ease;outline: none; }

.superiorbar {
    display: flex;
    height: 35px;
    width: 100%;
    background-color: #111;
    justify-content: space-between;
}

.tab {
    display: flex;
    width: 30%;
    height: 86%;
    margin: 2px;
    background-color: #333;
    align-items: center;
    justify-content: space-between;
    line-height: 32px;
    padding-left: 12px;
    padding-right: 10px;
    border-radius: 6px 6px 0px 0px;
    overflow: hidden;
    white-space: nowrap;
}

#title-tab {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 90%;
    font-size: 12px;
}

.tab:hover {
    background-color: #444;
}

.tabs {
    display: flex;
    width: 70%;
    margin: 0;
}

.navbar {
    display: block;
    height: 65px;
    width: 100%;
    background-color: #444;
}

#btn-close:hover {
    color: #f00;
}

#new-tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    /* tamaño del círculo */
    height: 26px;
    /* tamaño del círculo */
    border-radius: 50%;
    /* lo hace circular */

    background: none;
    color: #fff;
    font-size: 18px;

    cursor: pointer;

    /* separación respecto a las tabs */
    margin-left: 6px;

    /* que "flote" en el medio vertical del contenedor */
    align-self: center;
}

#new-tab:hover {
    background-color: #555;
}

button {
    display: inline-flex;
    background: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 19px;
    padding: 5px;
    padding-inline: 10px;
    gap: 10px;
}

button:hover { background-color: #666;cursor: pointer; }

button:active { background-color: #888; }

button:disabled {
    color: #666;
    cursor: not-allowed;
}

#back {
    margin-top: 10px;
    margin-left: 6px;
}

#forward {
    margin-top: 10px;
}

#webinput {
    margin-top: 4px;
    padding: 3px 10px;
    width: 80%;
    background-color: #111;
    border: 3px solid #666;
    border-radius: 15px;
    color: #555;
    font-size: 14px;
    text-decoration: none;
}

#webinput:focus {
    outline: none;
    border-color: #274063;
    box-shadow: 0 0 3px #3a8bff;
    color: #fff;
}

#container {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
    flex: 1;
}

#r:hover {
    rotate: 50deg;
}

.error-page {
    margin: 50px;
}

html,
body {
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

img { opacity: 0.25; }

h1 { font-size: 40px; }

#main-input {
    border-radius: 10px;
    background-color: #555;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    width: 70%;
    box-shadow: 11px 11px 11px -1px rgba(65, 65, 65, 0.61);
    margin-top: 15%;
}

#main-page p {
    margin: 0;
    padding: 0;
}

#menu {
    display: inline-block;
    transform: scaleX(1.5);
    /* Aumenta el ancho */
    transform-origin: left;
    /* Opcional: evita que se deforme hacia ambos lados */
    cursor: pointer;
}

#menu-icon {
    position: absolute;
    top: 46px;
    right: 6px;
}

#menu-box {
    display: none;
    position: absolute;
    right: 8px;
    margin-top: 13px;
    background-color: #333;
    border-radius: 8px;
    padding: 8px;
    border-radius: 6px;
    width: 200px;
    color: white;
}

.menu-item {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #555;
}

.menu-item:active {
    background-color: #888;
}

/* Línea del Zoom */
.zoom-item {
    cursor: default;
}

/* Contenedor de - 100% + */
.zoom-controls {
    display: flex;
    gap: 6px;
    align-items: center;
}

.zoom-btn {
    padding: 0 6px;
    border-radius: 4px;
    background: #333;
    cursor: pointer;
}

.zoom-btn:hover {
    background: #444;
}

.zoom-item:hover { background-color: #333; }

#zoom-minus:active, #zoom-plus:active { background-color: #666; }