html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #111;
    color: #fff;
    user-select: none;
}

* { transition: all 0.2s ease;outline: none; }

.tabs {
    display: block;
    height: 35px;
    width: 100%;
    background-color: #111;
}

.navbar {
    display: block;
    height: 65px;
    width: 100%;
    background-color: #444;
}

button {
    display: inline-flex;
    background: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 19px;
    padding: 5px;
    padding-inline: 10px;
    gap: 10px;
}

button:hover { background-color: #666;cursor: pointer; }

button:active { background-color: #888; }

button:disabled {
    color: #666;
    cursor: not-allowed;
}

#back {
    margin-top: 10px;
    margin-left: 6px;
}

#forward {
    margin-top: 10px;
}

#webinput {
    margin-top: 4px;
    padding: 3px 10px;
    width: 80%;
    background-color: #000;
    border: 3px solid #666;
    border-radius: 15px;
    color: #555;
    font-size: 14px;
}

#webinput:focus {
    outline: none;
    border-color: #274063;
    box-shadow: 0 0 3px #3a8bff;
    color: #fff;
}

#container {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
    flex: 1;
}

.error-page {
    margin: 50px;
}

html,
body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}

#main-input {
    border-radius: 10px;
    background-color: #555;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    width: 70%;
    box-shadow: 11px 11px 11px -1px rgba(65, 65, 65, 0.61);
    margin-top: 15%;
}

#main-page p {
    margin: 0;
    padding: 0;
}