html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tabs {
    display: block;
    height: 35px;
    width: 100%;
    background-color: #444;
}

.navbar {
    display: block;
    height: 65px;
    width: 100%;
    background-color: #000;
}

.container {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
    flex: 1;
}